<!doctype html>
{% load i18n static %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>
        {% block title %}{% endblock %}{% trans "My Website" %}
    </title>
    <link rel="icon" type="image/x-icon"
          href="{% static 'site/img/favicon.ico' %}">

    {% block meta_tags %}{% endblock %}

    {% block base_stylesheet %}
        <link rel="stylesheet" type="text/css"
              href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" media="screen"
              href="{% static 'site/css/style.css' %}">
    {% endblock %}
    {% block stylesheet %}{% endblock %}

    {% block extrahead %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
{% block page %}
    <section class="wrapper">
        <header class="clearfix container">
            <h1>{% trans "My Website" %}</h1>
            {% block header_navigation %}
                {% include "utils/header_navigation.html" %}
            {% endblock %}
            {% block language_chooser %}
                {% include "utils/language_chooser.html" %}
            {% endblock %}
        </header>
        {% block container %}
        <div id="content" class="clearfix container">
            {% block content %}{% endblock %}
        </div>
        {% endblock %}
        <footer class="clearfix container">
            {% block footer_navigation %}
                {% include "utils/footer_navigation.html" %}
            {% endblock %}
        </footer>
    </section>
{% endblock %}
{% block extrabody %}{% endblock %}

{% block base_js %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="{#% url "js_settings" %#}"></script>
{% endblock %}
{% block js %}{% endblock %}
</body>
</html>
