form.form-signin {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    max-width: 400px;
    padding: 50px;
}

.controls input {
    border: 0;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
    font-size: 1.5rem;
    padding: .25em .5em;
    width: 100%;
}
